/* Body */

body {
    background-color: #879B6F;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 24px;
    text-decoration: underline;
}

legend {
    text-decoration: underline;
}

input[type=submit] {
    font-size: 18px;
    background-color: #C7B69F;
    color: white;
    border-radius: 8px;
    padding: 5px;
}


/* Container (conteneur) */

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Header (en-tête) */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C7B69F;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
}

/*
.header_div {

}
*/

#header_logo {
    height: 50px;
    width: 50px;
    border-radius: 10px;

}

/* Navbar (menu/barre de navigation) */

.navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

.navbar a {
    font-size: 16px;
    color: white;
}

.navbar a:hover {
    color: #879B6F;
}

/* Main (contenu principal) */

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: solid 1px #C7B69F;
    justify-content: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.content img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

/* Footer (pied-de-page) */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B7D286;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}

.footer_div {
    align-items: center;
}

.footer a {
    font-size: 16px;
    color: white; 
}

.footer a:hover {
    color: #897560;
}


/* Formulaire de recherche d'itinéraire */

#search_form {
    text-align: center;
    border: solid 1px #C7B69F;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 10px;
    width: 98%;
}

.search_form_container {
    display: flex;
    justify-content: center;
}

.search_form_div {
    border: solid 1px #C7B69F;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

/* Formulaire d'ajout d'un covoiturage */

#carpool_add_container {
    border: solid 1px #C7B69F;
    width: 98%;
    border-radius: 10px;
    gap: 10px;
    padding: 5px;
}

#carpool_add_form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.carpool_add_form_column {
    border: solid 1px #C7B69F;
    padding: 5px;
}

.carpool_add_form_button {
    padding: 5px;
}


/* Tableau d'affichage des covoiturages */

.carpool_table {
    border: solid 1px black;
    border-collapse: collapse;
    color: black;
    padding: 5px;
    text-align: center;
}

.carpool_table th {
    background-color: lightgray;
}

.carpool_table td {
    background-color: white;
}

/* Tableau d'affichage des utilisateurs */

.user_table {
    border: solid 1px black;
    border-collapse: collapse;
    color: black;
    padding: 5px;
    text-align: center;
}

.user_table th {
    background-color: lightgray;
}

.user_table td {
    background-color: white;
}

/* Formulaire de connexion */

.login_form {
    text-align: center;
}

.login_form a {
    font-size: 16px;
    color: white;
}

.login_form a:hover {
    color: #C7B69F;
}

/* Formulaire d'ajout de préférences */

.user_space_div {
    border: solid 1px #C7B69F;
    padding: 10px;
}